/* The color theme for the site */
:root {
    color-scheme: light dark;

    --color-white: #FFFFFF;
    --color-white-soft: #ffffffde;
    --color-off-white: hsl(0, 0%, 90%);
    --color-dark-gray: #222222;
    --color-black: #0f0f0f;
    --color-dark-purple: #31263E;
    --color-purple: #44355B;
    --color-yellow: #ECA72C;
    --color-flame: #EE5622;

    --color-background: var(--color-dark-gray);
    --color-text: var(--color-white-soft);
    --color-button-bg: var(--color-black);
    --color-button-border: var(--color-yellow);
    --color-a: var(--color-flame);
    --color-a-hover: var(--color-yellow);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-background: var(--color-light);
        --color-text: var(--color-dark);
        --color-button-bg: var(--color-off-white);
    }
}